<%= render partial: 'message', collection: @messages if @messages %>

<% if @player.is_human? %>
  <h3><%= @player.name %>'s hand:</h3>
  <%= render partial: 'hand', locals: {hand: @player.hand} %>
<% else %>
  <%= button_to "CPU move", game_path(@game), method: 'patch' %>
<% end %>




<%= render 'debug' %>
